<a href="https://colab.research.google.com/github/allanribeirodasilva/Portfolio-CAPM/blob/main/Treinando_carteira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['PETR4.SA', 'VALE3.SA', 'BBDC4.SA']
sec_data = pd.DataFrame()
for t in tickers:
  sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2011-01-01')['Adj Close']

NotImplementedError: ignored

In [ ]:
sec_data.tail()

             PETR4.SA   VALE3.SA   BBDC4.SA
Date
2021-02-18  29.270000  97.400002  24.910000
2021-02-19  27.330000  97.769997  24.700001
2021-02-22  21.670000  95.349998  23.080000
2021-02-23  24.059999  96.949997  24.180000
2021-02-24  24.400000  97.930000  24.010000

In [ ]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [ ]:
sec_returns[['PETR4.SA', 'VALE3.SA', 'BBDC4.SA']].mean()*250

PETR4.SA    0.011804
VALE3.SA    0.095045
BBDC4.SA    0.093625
dtype: float64

In [ ]:
sec_returns[['PETR4.SA', 'VALE3.SA', 'BBDC4.SA']].std()*250

PETR4.SA    7.771455
VALE3.SA    6.851471
BBDC4.SA    5.486002
dtype: float64

In [ ]:
weights = np.array([0.3, 0.4, 0.3])

In [ ]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
pfolio_var

0.12073516880194204

In [ ]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))) ** 0.5

In [ ]:
pfolio_vol

0.3474696660169662

In [ ]:
weights[0]

0.3

In [ ]:
weights[1]

0.4

In [ ]:
weights[2]

0.3

In [ ]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [ ]:
# Retorno esperado
#Retorno esperado(RE) = Retorno_Cenario1*probCenario_1 + Retorno_Cenario2*ProbCenario_2 + Retorno_Cenario3*ProbCenário_3 
#Cenario_1 = 
#Cenario_2 = 
#Cenario_3 = 
#Retorno_Cenario1 = 
#Retorno_Cenario2 = 
#Retorno_Cenario3 =

In [ ]:
#distribuição dos cenários

Cenario = np.array([0.25, 0.45, 0.3])
Retorno_Cenario = np.array([20, 15, 5])
Retorno_Cenario[1]




var1 = [(Retorno_Cenario2 - [[RE]]1)*Cenario_1]
var2 = [(Retorno_Cenario2 - [[RE]]1)*Cenario_2]
var3 = [(Retorno_Cenario3 + RE*-1)*Cenario_3]
S2 = var1 + var2 + var3
S2

15

In [ ]:
#distribuição dos cenários

Cenario_1 = 0.25
Cenario_2 = 0.45
Cenario_3 = 0.3
Retorno_Cenario1 = 20
Retorno_Cenario2 = 15
Retorno_Cenario3 = 5
RE = [Retorno_Cenario1*Cenario_1 + Retorno_Cenario2*Cenario_2 + Retorno_Cenario3*Cenario_3]
S2 = (Retorno_Cenario1-RE())
S

TypeError: ignored